h1 sdfsdf
a(href="https://google.com") Google
table(border="1")
  tr
    td asd 
    td 123
  tr
    td asd
    td asd
p#text.text-center.text-danger
  | sdfsdfsdf
  br
  | asdasd
#article.bg-danger.text-white
  h1 asdas
div
  | aaa
script.
  const aaa = () => {
    console.log('aasd')
  }
style.
  #article {
    color: blue;
    text-align: center;
  }
//- klj
  sdfdsf
  sdfsdf
// 123123